<% include ./partials/header %>

<div class="content">
    <h1>Transform website to PDF!</h1>

    <% if(error_msg && error_msg.length > 0)  { %>
        <p><%= error_msg %> </p>
    <% } %> 
     
    <form action="/" method="POST">
        <select name="format" id="format">
            <option value="empty">-------</option>
            <option value="Letter">Letter</option>
            <option value="Legal">Legal</option>
            <option value="Tabloid">Tabloid</option>
            <option value="Ledger">Ledger</option>
            <option value="A0">A0</option>
            <option value="A1">A1</option>
            <option value="A2">A2</option>
            <option value="A3">A3</option>
            <option value="A4">A4</option>
            <option value="A5">A5</option>
        </select>   
        <input type="text" name="url" id="url" placeholder='Enter the URL of website'>
        <button type="submit">Submit</button>
    </form>
    <% if(success_msg && success_msg.length > 0)  { %>
        <p><%= success_msg %> <a href="/download">click here</a> to download</p>
    <% } %> 
</div>




<% include ./partials/footer %>